extends layout

block content
	div(class="col-md-4 center-block Sin-Float text-center")
		img(src="images/film roll.jpg")
		h1(class="oswald-700")= title
		p(class="oswald-400 normal-size") A conticuacion se muestra una lista con las mejores peliculas del 2015
		a(href="/peliculas") Desplegar Lista-->
