body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img	{
	max-width: 100%;
}

.Sin-Float {
	float: none;
}

.oswald-700 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #08088A;
}

.oswald-400 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.normal-size {
	font-size: 20px;
}

a {
  color: #00B7FF;
}